h2{
    font:green;
    background-color:red;
}
h3{
    font:blue;
    background-color: brown;
}
p{
    color:yellowgreen;
}
/* id can be used only once in a page*/
#id
{ 
    font-family: Calibri;
}
/*class can be used multiple times in a page*/
.class
{ 
    font-family: monospace;
    color: black;
}